parser/*.o
parser/*.cmi
parser/*.cmx
.*.swp
semantics/.kompile-*
semantics/c11*-kompiled
dist
parser/cparser
parser/clexer.ml
parser/cparser.ml
parser/cparser.mli
semantics/settings.k
semantics/extensions-common.k
semantics/extensions-translation.k
semantics/extensions-execution.k
78k0r
x86_64-linux-gcc-glibc
x86_64-osx-10.10-clang
