parser/*.o
parser/*.cmi
parser/*.cmx
.*.swp
semantics/.kompile-*
semantics/*/c*-kompiled
dist/
parser/cparser
parser/clexer.ml
parser/cparser.ml
parser/cparser.mli
semantics/.depend*
semantics/.lock
semantics/.build
scripts/cdecl-*
.vagrant
tests/*/kcc_config
