<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Copyright (c) 2014 K Team. All Rights Reserved. -->

<tests>

  <test definition="cil.k"
        programs="ktest"
        extension="c"
        results="."
        skip="pdf">
    <kompile-option name="--backend" value="java" />
    <all-programs>
      <krun-option name="--smt" value="none" />
      <krun-option name="--pattern-matching" />
      <krun-option name="--pattern" value="&lt;result-value&gt; ###result-value(I:Int) &lt;/result-value&gt;" />
    </all-programs>
  </test>
</tests>
